<section class="mt-5">
    <hr>

    <div id="accordionGroup" class="accordion">
        {{#if notes.tips.length }}
            <details>
                <summary>
                    <span class="accordion-icon"></span>
                    <h2 class="heading">Tips</h2>
                </summary>
                <div class="accordion-panel">
                    <ul class="list-group list-group-flush">
                        {{#each notes.tips}}
                            <li class="list-group-item">{{{this}}}</li>
                        {{/each}}
                    </ul>
                </div>
            </details>
        {{/if}}




        {{#if notes.examples.length }}
            {{#each notes.examples}}
                {{#anyNotDisabled listOfUrls}}
                    {{#if listOfUrls.length }}
                        <details>
                            <summary>
                                <span class="accordion-icon"></span>
                                <h2 class="heading">{{{sectionName}}}</h2>
                            </summary>
                            <div class="accordion-panel">
                                <ul class="list-group list-group-flush">

                                    {{#each listOfUrls}}
                                        {{#unless hide }}
                                            <li class="list-group-item">
                                                <a href="{{{url}}}" target="_blank" aria-describedby="open_new_window">
                                                    {{{label}}}
                                                    <svg role="img" aria-hidden="true"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         width="18" height="18" viewBox="0 0 24 24" fill="none"
                                                         stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                         stroke-linejoin="round"
                                                         class="feather feather-external-link ms-1">
                                                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                                        <polyline points="15 3 21 3 21 9"></polyline>
                                                        <line x1="10" y1="14" x2="21" y2="3"></line>
                                                    </svg>
                                                </a>
                                                {{#if extraInformation }}
                                                    <p class="m-0 ps-4 extra-information-links">
                                                        - {{{extraInformation}}}</p>
                                                {{/if}}
                                            </li>
                                        {{/unless}}
                                    {{/each}}

                                </ul>
                            </div>
                        </details>
                    {{/if}}
                {{/anyNotDisabled}}
            {{/each}}
        {{/if}}
    </div>

</section>
